# Image decode api
IMGAPIURI="http://api.com/"
IMGAPITOKEN="magic"

# Site RUI
SomeHOST="www.abc.com"
SomeURI="https://www.abc.com"

# Request path: index / login / query
SomeINDEXPATH="/index/path"
SomeLOGINPATH="/login/path"
SomeADMINPATH="/admin/path"
SomeQUERYPATH="/query/path"
SomeREFPATH="/ref/path"

# Login secret
SomeUSER="username"
SomePASSWORD="abc123"


